body {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
}

.navbar .navbar-brand {
    margin-left: 10px !important;
}

.card {
    width: 18rem;
}

.img-container :hover {
    cursor: pointer;
}

.img-container p {
    padding: 0;
    margin: 0;
}

.img-container p:nth-child(2) {
    font-weight: bold;
}

.img-container p:nth-child(5) {
    margin-bottom: 1rem;
    color: #e20405;
    cursor: pointer;
}

.logo {
    width: 70px;
    margin-left: 30px;
    margin-right: 10px;
}

.nav-link {
    cursor: pointer !important;
    color: black;
}

.navbar {
    color: white;
}

.searchbar {
    display: none;
}
.navbar .searchbar form {
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .searchbar form button {
    margin-left: 20px;
    color: white;
    border: 1px solid white;
}

.navbar .searchbar form button:hover {
    background: #e20405;
}

.nav-link:hover {
    color: #e20405;
}

.sidebar {
    display: none;
}

.nike {
    display: none;
}

.icon-container {
    display: none;
}

.footer {
    width: 100vw;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container img {
    width: 90%;
}

.footer ul {
    margin-top: 1rem;
    flex-basis: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.footer ul li {
    list-style: none;
}
.footer ul li:hover {
    cursor: pointer;
    color: lightgray;
}

.footer .footer-icons {
    flex-basis: 20%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.footer .footer-icons .icon {
    margin-right: 10px;
}

.nav-item {
    font-size: 0.8rem;
}

@media only screen and (min-width: 994px) {
    .nike {
        display: block;
    }
    .searchbar {
        display: block;
    }

    .footer {
        height: 170px;
    }

    .icon-container {
        display: block;
        color: white;
        font-size: 22px;
        position: fixed;
        right: 10px;
    }

    .icon-container .icon {
        margin-right: 2rem;
        cursor: pointer;
    }

    .icon-container .icon:hover {
        color: lightgray;
    }
}

@media only screen and (min-width: 720px) {
    .sidebar {
        display: block;
    }
    .footer .footer-icons {
        margin-bottom: 0;
    }

    .nav-item {
        font-size: 1rem;
    }

    .footer .footer-icons {
        flex-basis: 20%;
        font-size: 35px;
        margin-right: 5rem;
    }

    .footer .footer-icons .icon {
        margin-right: 10px;
        cursor: pointer;
    }
    .footer .footer-icons .icon:hover {
        color: lightgray;
    }
    .footer {
        flex-direction: row;
    }

    .footer ul {
        flex-direction: row;
    }

    .footer ul li {
        margin: 10px;
        list-style: none;
    }
}
